In [2]:
import pandas as pd

In [3]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#1.Total number of players
total_players = len(purchase_data["SN"].unique())
#Q  totalPlayers_df = pd.DataFrame({"Total Players":total_players})  
# not working --> ValueError: If using all scalar values, you must pass an index
#OK  totalPlayers_df = pd.DataFrame([{"Total Players":total_players}])   <-- list of dict
#OK  totalPlayers_df = pd.DataFrame({"Total Players":total_players}, index=[0])  <-- add index =[0]
totalPlayers_df = pd.DataFrame({"Total Players":[total_players]})  # make variable to LIST !?
totalPlayers_df.head()

   Total Players
0            576

In [5]:
#2.Number of Unique Items/Average Purchase Price/Total Number of Purchases/Total Revenue
#ok  NumOfUniqItems = len(purchase_data["Item Name"].unique())
UniqItems = purchase_data["Item Name"].unique()
AvgPurPrice = purchase_data["Price"].mean()
NumOfPurchases = len(purchase_data["Purchase ID"])
totalRev = purchase_data["Price"].sum()

Purchasing_Analysis_df =pd.DataFrame({"Number of Unique Items":len(UniqItems),
                                    "Average Price":"${:,.2f}".format(AvgPurPrice),
                                    "Number of Purchases":NumOfPurchases,
                                    "Total Revenue":"${:,.2f}".format(totalRev)}, index =[0])

#ok Purchasing_Analysis_df["Average Price"] = Purchasing_Analysis_df["Average Price"].map("${:,.2f}".format)
#ok Purchasing_Analysis_df["Total Revenue"] = Purchasing_Analysis_df["Total Revenue"].map("${:,.2f}".format)
Purchasing_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [41]:
#Male players / Female players / Others
male_df=purchase_data.loc[purchase_data["Gender"]=="Male"]
female_df=purchase_data.loc[purchase_data["Gender"]=="Female"]
others_df =purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]

malePlayers = len(male_df["SN"].unique())
femalePlayers = len(female_df["SN"].unique())
others = len(others_df["SN"].unique())

malePerc = "{:.2%}".format(malePlayers/total_players)
femalePerc = "{:.2%}".format(femalePlayers/total_players)
othersPerc = "{:.2%}".format(others/total_players)

genderDemog_df = pd.DataFrame({"Total Count":[malePlayers,femalePlayers, others], 
                              "Percentage of Players":[malePerc, femalePerc, othersPerc]}, 
                             index=["Male","Female", "Other/Non-Disclosed"])
genderDemog_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [52]:
#  * Purchase Count
purchase_data['Count'] = 1
Purchase_Count = purchase_data.groupby(["Gender"]).count()['Count']
purchaseCount_male = Purchase_Count["Male"]
purchaseCount_female = Purchase_Count["Female"]
purchaseCount_others =Purchase_Count["Other / Non-Disclosed"]

#  * Average Purchase Price
avg_Purchase_price = purchase_data.groupby(["Gender"]).mean()['Price']
avg_Purchase_price_male = avg_Purchase_price["Male"]
avg_Purchase_price_female = avg_Purchase_price["Female"]
avg_Purchase_price_others = avg_Purchase_price["Other / Non-Disclosed"]

#  * Total Purchase Value
tot_Purchase_value = purchase_data.groupby(["Gender"]).sum()['Price']
tot_Purchase_value_male = tot_Purchase_value["Male"]                      
tot_Purchase_value_female = tot_Purchase_value["Female"]  
tot_Purchase_value_others = tot_Purchase_value["Other / Non-Disclosed"]

#  * Average Purchase Total per Person by Gender
avg_tot_pur_male = tot_Purchase_value_male / malePlayers
avg_tot_pur_female = tot_Purchase_value_female / femalePlayers
avg_tot_pur_others = tot_Purchase_value_others / others

gender_purchase_df = pd.DataFrame({"Purchase Count":[purchaseCount_male,purchaseCount_female, purchaseCount_others], 
                              "Average Purchase Price":["${:.2f}".format(avg_Purchase_price_male), "${:.2f}".format(avg_Purchase_price_female), "${:.2f}".format(avg_Purchase_price_others)],
                               "Total Purchase Value":["${:,.2f}".format(tot_Purchase_value_male),"${:,.2f}".format(tot_Purchase_value_female),"${:,.2f}".format(tot_Purchase_value_others)],
                                 "Avg Total Purchase per Person":["${:.2f}".format(avg_tot_pur_male),"${:.2f}".format(avg_tot_pur_female),"${:.2f}".format(avg_tot_pur_others)]
                                  }, 
                             index=["Male","Female", "Other/Non-Disclosed"])
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56